.App {
  text-align: center;
  background-color: rgb(13, 80, 25);
  /* margin: 0;
  padding: 0; */
}

.Nav {
  
  height: auto;
  /* width: 100%; */
  background-color: burlywood;
}

.RecipeContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: blanchedalmond;
}

.recipe {
  background-color: antiquewhite;
}

.recipeimage {
  height: 300px;
  width: 300px;
}

.recipe-form {
  height: 150px;
  width: 300px;
  background-color: rgb(167, 119, 47);
  border-radius: 25px;
}

